<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sharood" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Sharood</name>
    <description>
        Sharood connects people who want to eat with people who are cooking in your area. 
    </description>
    <author email="sharoodapp@gmail.com" href="https://sharoodapp.wordpress.com">
        Sharood Team
    </author>
    <content src="index.html" />
	
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="stay-in-webview" value="false" />
    
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    
    <!--  preference name="FadeSplashScreen" value="false"/>
    <preference name="FadeSplashScreenDuration" value="3000"/>
	<preference name="AutoHideSplashScreen" value="true" /-->
    

    <preference name="disable-cursor" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />

	<platform name="android">
		<preference name="android-minSdkVersion" value="16" />
		<preference name="android-maxSdkVersion" value="22" />
		<preference name="android-targetSdkVersion" value="22" />
		
		<preference name="android-installLocation" value="auto" />
		<preference name="android-windowSoftInputMode" value="adjustResize" />

		<preference name="SplashScreen" value="resources/android/splash/screen-480x320.png" />
		<!--preference name="SplashScreenDelay" value="3000" />
		<preference name="SplashMaintainAspectRatio" value="true" />
		<preference name="SplashShowOnlyFirstTime" value="true" /-->		
	</platform>
	
	<platform name="ios">
		<preference name="deployment-target" value="8.0" />
		<preference name="target-device" value="universal" />
		<preference name="ios-statusbarstyle" value="black-opaque" />	
		<preference name="prerendered-icon" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="detect-data-types" value="true" />
	</platform>	
	
	<!-- to enable individual permissions use the following examples -->
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    
    
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="io.github.siegfriedbolz.cordova.plugins.email-composer" version="0.8.3" />    
    
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="com.phonegap.plugin.statusbar" />
    <gap:plugin name="com.plugins.shortcut" />

    
    <plugin name="cordova-plugin-whitelist" version="https://github.com/apache/cordova-plugin-whitelist.git"/>
    <plugin name="cordova-plugin-datepicker" spec="https://github.com/VitaliiBlagodir/cordova-plugin-datepicker.git" />
	<plugin name="cordova-plugin-network-information" spec="https://github.com/apache/cordova-plugin-network-information.git" />
	<!-- plugin name="cordova-plugin-splashscreen" spec="https://github.com/apache/cordova-plugin-splashscreen.git" /-->
	
	
    <icon src="icon.png" />
    
	<platform name="android">
	    <icon src="res/icon/android/icon-36-ldpi.png" density="ldpi" />
        <icon src="res/icon/android/icon-54.png" />
        <icon src="res/icon/android/icon-72-hdpi.png" density="hdpi" />
        <icon src="res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
        	    
	    <splash src="res/screen/android/screen-hdpi-landscape.png"/>
        <splash src="res/screen/android/screen-hdpi-portrait.png"/>
        <splash src="res/screen/android/screen-ldpi-landscape.png"/>
        <splash src="res/screen/android/screen-ldpi-portrait.png"/>
        <splash src="res/screen/android/screen-mdpi-landscape.png"/>
        <splash src="res/screen/android/screen-mdpi-portrait.png"/>
        <splash src="res/screen/android/screen-xhdpi-landscape.png"/>
        <splash src="res/screen/android/screen-xhdpi-portrait.png"/>
        
	</platform>
    
    <platform name="ios">    
        <icon src="res/icon/ios/icon-57-2x.png" />
        <icon src="res/icon/ios/icon-57.png" />
        <icon src="res/icon/ios/icon-72-2x.png" />
        <icon src="res/icon/ios/icon-72.png" />
        
        <splash src="res/screen/ios/Default-568h@2x~iphone.png" />
        <splash src="res/screen/ios/Default@2x~iphone.png" />
        <splash src="res/screen/ios/Default~iphone.png" />
        <splash src="res/screen/ios/screen-iphone-landscape.png" />
        <splash src="res/screen/ios/screen-iphone-portrait.png" />
        
	</platform>
    
    <access origin="*" />
    <allow-navigation href="http://*/*" />

    
	<!-- Allow images, xhrs, etc. to google.com -->
	<access origin="http://google.com" />
	<access origin="https://google.com" />
	
	<!-- Access to the subdomain maps.google.com -->
	<access origin="http://maps.google.com" />
	
	<!-- Access to all the subdomains on google.com -->
	<access origin="http://*.google.com" />
	
	<!-- Enable requests to content: URLs -->
	<access origin="content:///*" />
	
	<!-- Don't block any requests -->
	<access origin="*" />    
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
</widget>
